html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, menu, input, button, textarea, p, blockquote, th, td{
	margin:0;padding:0;
}
$wid:1200px;
$mgauto:0 auto;
body{
	font: 12px "微软雅黑",Helvetica,sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #555;
}
a{
	color: #666;
    text-decoration: none;
}
li{
	list-style: none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after {
    display: block;
    clear: both;
    content: ".";
    visibility: hidden;
    height: 0;	
}
.headerbg{
	width:100%;
	min-width: $wid;
	.header_t_bg{
		background:#fafafa;
		.header{
			width:$wid;
			height:35px;
			margin:$mgauto;
			border-bottom:1px solid #f5f5f5;		
			.head-app{
				margin-top:8px;
				span{
					padding:0 25px;
					.icon-app{
						    display: block;
						    width: 20px;
						    height: 20px;
						    background: url(../img/headico.png) no-repeat;
						    position: absolute;
					}
				} 
				.app {
		    		border-left: solid 1px #d9d9d9;
		    		position: relative;
		    		.ewm1{
		    			padding-left: 15px;
					    display: block;
					    position: relative;
					    .icon-app2{
					    	display: block;
						    width: 20px;
						    height: 20px;
						    background: url(../img/headico.png) no-repeat -20px 0;
					    }
		    		}
		    		.ewm{
		    			position: absolute;
		    			top:28px;
		    			border:1px solid #ddd;
		    			padding:5px;
		    			text-align:center;
		    			a{
		    				display: block;
		    				span{
		    					display: block;
		    				}
		    				
		    			}
		    		}
				}
			}
			.right{
				margin-top:8px;
				.login{
					float:left;
					span{
						margin: 0 10px;
					}
				}
				.car{
					float:right;
					position:relative;
					margin-left:15px;
					padding-left:25px;
					.icon-app3{
						display: block;
					    width: 20px;
					    height: 20px;
					    background: url(../img/headico.png) no-repeat -40px 0;
					    position: absolute;
					    left:0;
					}
					.total_car{
						min-height: 150px;
						min-width:250px;
						position:absolute;
						right:0;
						top:28px;
						border:1px solid #ddd;
						z-index:999;
						display:none;
						background:#fff;
						.mygoods{
					   		padding: 20px 20px 5px 20px;
   							color: #999;
						}
						.goods_total{
							clear:both;
							position:relative;
							.goods_buy{	
   								padding: 15px;
								.single_goods{
								    position: relative;
								    padding-left:20px;
								 	width:300px;
								    .goods_url {
								    	width:60px;
								    	img{
								    	    width: 60px;
									    }
								    }
								    .goods_details {
								    	margin-left:10px;
								    	margin-top:10px;
								    	margin-right:40px;
								    	width:180px;
									    overflow: hidden;
									    white-space: nowrap;
									    text-overflow: ellipsis;
									    p{margin:5px 0;}
									    .goods_brand{
									    	font-weight: bold;
									    }
									    .goods_name{
								    	    font: 12px;
								    	    color:#999;
									    }
									    .goods_price .goods_qty{
									    	color:red;
									    }
								    }
								    .goods_delete{
								    	
							    	    font-size: 12px;
									    position: absolute;
									    right: 0;
									    top: 20px;
									    color: #ccc;
									    font-family: "宋体";
									    cursor: pointer;
									    width: 30px;
									    height: 30px;
									    line-height: 30px;
									    text-align: center;
								    }
								}
							}
   							.total_price{
   								display: none;
					    		background: #f7f7f7;
							    line-height:42px;
							    padding:10px 20px;
							    width:100%;
							    box-sizing:border-box;
   								font-size: 14px;
	   							.account{
								    display: inline-block;
								    width: 114px;
								    height: 42px;
								    border-radius:10px;
								    background: #333;
								    color: #fff;
								    text-align: center;
								    line-height: 42px;
								    font-size: 14px;
	   							}
   							}
   							.goods_emty{
								position:absolute;
								left:65px;
								top:50%;
							}
						}
					}
				}
			}
		}
	}
	.header_middle{
		position: relative;
	    width: $wid;
	    margin:$mgauto;
	    .header_logo{
	    	width: 360px;
		    text-align: center;
		    margin: 0 auto;
		    padding-top: 35px;
	    }
	    .header_search{
	    	position: absolute;
		    top: 45px;
		    right: 0;
		    input{
		    	width: 165px;
			    padding: 0;
			    outline: none;
			    border: none;
			    height: 29px;
			    height: 22px;
			    padding-top: 7px;
			    border-bottom: solid 1px #e8e8e8;
		    }
		    .header_search_btn{
	    	    width: 30px;
			    height: 30px;
			    border: none;
			    background: #fff;
			    em{
		    	    display: block;
				    width: 20px;
				    height: 20px;
				    background: url(../img/headico.png) -60px 0 no-repeat;
				    margin-left: 2px;
			    }
		    }
	    }
	}
	.nav{
		padding-top: 10px;
		position:relative;
		.nav_list{
			width: $wid;
    		margin: $mgauto;
    		li{
    			float:left;
    			a{
    				display: block;
				    width: 120px;
				    padding: 15px 0 25px 0;
				    text-align: center;
				    font-size: 14px;
				    font-weight: bold;
    			}
    		}
			.subnav{
			    position: absolute;
			    width: $wid;
			    top: 71px;
			    z-index: 99;

			    text-align: center;
			    background: #fff;
			    border-top: solid 1px #e8e8e8;
			    opacity: .95;
			    .subnav_list{
			    	display: none;
			    	overflow: hidden;
			    	ul{
			    		display: inline-block;
					    width: 200px;
					    margin: 0 30px;
	    			    padding: 25px 0 65px 0;
					    text-align: left;
					    vertical-align: top;
					    position: relative;
						li a{
							display: block;
							clear:both;
						    padding: 7px 0;
						    overflow: hidden;
						    white-space: nowrap;
						    text-overflow: ellipsis;
						    font-weight: 400;
						    color:#666;
						}
						.active{
							 font-weight: 600;

						}
			    	}
			    }
			}
		}
	}

}

// 咨询样式
.consult{
	position: fixed;
    right: 0;
    bottom:100px;
    border:solid 1px #ddd;
    background: #fff;
    z-index: 2;
    ul {
	    li{
	    	position:relative;
	    	.consult_online{
			    display:block;
			    width: 58px;
			    height: 46px;
			    padding-top: 12px;
			    border-bottom: solid 1px #ddd;
			    em{
		    	    display: block;
				    width: 35px;
				    height: 35px;
				    background: url(../img/consult.png) no-repeat;
				    margin: 0 auto;
			    }
	    	}
		   	&:nth-child(2) em{
		    	background-position:0 -35px;
		    } 
		    &:nth-child(3) em{
		    	background-position:0 -70px;
		    } 
		    &:nth-child(4) em{
		    	background-position:0 -105px;
		    }
		    &:hover{
	    		background:#666;
	    	}
    		&:nth-child(1) :hover{
		    	background-position:-35px 0;
		    } 
		    &:nth-child(2) :hover{
		    	background-position:-35px -35px;
		    } 
		    &:nth-child(3) :hover{
		    	background-position:-35px -70px;
		    } 
		    &:nth-child(4) :hover{
		    	background-position:-35px -105px;
		    }
	    }
	    .phone_ewm{
	    	position:relative;
	    	.consult_app{
	    		display: none;
	    		position:absolute;
	    		top:-17px;
	    		left:-100px;
    		    padding: 10px;
			    background: #fff;
			    border: solid 1px #ececec;
			    font-size: 0;
	    		img{
	    			display:block;
	    		}
	    		div{
    			    width: 8px;
				    height: 17px;
				    background: url(../img/headico.png) -97px -3px no-repeat;
				    position: absolute;
				    z-index: 2;
			        top: 38px;
					right: -8px;
	    		}
	    	}
	    }
	    
    }
}
/* 内容样式 */
.containerbg{
	width:100%;
	min-width:$wid;
	// margin-top:20px;
	background:#f5f5f5;
	overflow:hidden;
	.headerShadow{
		background: url(../img/headerbg.png) 0 bottom repeat-x;
		width: 100%;
		height: 8px;

		}
	.container{
		width:$wid;
		margin:10px auto;
		.details{
			background:#fff;
			padding: 70px 0;
			.details_fl{
			    width: 510px;
				margin-left: 95px;
				.nor_img img{
					height:460px;
					cursor:pointer;
					border:1px solid #ddd;
				}
			}
			.details_fr{
			    padding: 20px 0 0 85px;
			    width: 425px;
			    h1{
		    	    font-weight: normal;
		    	    a{
	    	    	    font-size: 24px;
					    display: block;
					    color: #333;
					    max-width: 361px;
					    white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
		    	    }
			    }
			    .details_name{
				    font-size: 14px;
				    margin:4px 20px 10px 0;
				    max-width: 341px;
				    white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
			    }
			    .price_l{
			    	display: block;
			    	width:60px;
			    	margin-bottom:10px;
			    }
			    .price_b{
		    	    font-size: 18px;
   					font-weight: bold;
			    }
			    .details_l{
			    	width:60px;
			    	display: block;
			    	margin-bottom:10px;
			    }
			  	.allSize{
			    	height:28px;
			    	line-height: 28px;
			    	width:60px;
			    }
			    .size_num .size{
				    background: #fff;
				    width: 42px;
				    height: 28px;
				    line-height: 28px;
				    text-align:center;
				    padding: 0 5px;
				    margin-right:5px;
				    border: solid 1px #333;
				    color: #333;
				    border-radius: 2px;
				    cursor: pointer;
			    }
			    .size_num .active{
			    	background: #000;
			    	color:#fff;
			    }
			    p{
			    	padding-left:60px;
			    	margin:10px 0 20px 0;
			    }
			    .details_buy{
			    	.buy_now{
		    		    background: #333;
						width: 152px;
						height: 45px;
					    font-size: 14px;
					    cursor: pointer;
					    border-radius: 2px;
					    text-align:center;
					    a{color:#fff;line-height: 45px;}
			    	}
			    	.atc{
		    		    background: #c53f40;
						margin-left: 10px;
						width: 143px;
						height: 45px;
					    font-size: 14px;
					    cursor: pointer;
					    border-radius: 2px;
					    text-align:center;
					    a{color:#fff;line-height: 45px;}
			    	}
				    .details_share{
				    	.collect{
				    	    border: solid 1px #e8e8e8;
						    margin-left: 10px;
				    		display: inline-block;
				    	    width: 43px;
						    height: 43px;
						    background: url(../img/pst.gif) no-repeat;
					        background-position: 0 -13px;
				    	}
				    	.share{
			    		    border: solid 1px #e8e8e8;
						    float: left;
						    width: 43px;
						    height: 43px;
						    margin-left: 20px;
						    background: url(../img/pst.gif) 0 -56px no-repeat;
						    position: relative;
				    	}
				    }
			    }
			    .arrive{
		    	    padding: 15px 0;
		    	    height:20px;
		    	    margin-top:10px;
    				border-bottom: solid 1px #f5f5f5;
    				.arrive_time{
					    width: 78px;
					    float: left;
					    display: block;
    				}
    				span{
    					display: block;
    					width: 345px;
					    float: right;
					    display: block;
    				}
			    }
			}
		}
	}
	
}

/* 底部样式 */
.footer{
	margin-top:20px;
	border-top: 1px solid #e8e8e8;
	.footer_t{
	    width: $wid;
	    overflow: hidden;
	    margin: $mgauto;
	    margin-bottom:20px;
	    padding-top: 40px;
	    .no_link{
		    color: #333;
			font-size: 14px;
			margin-bottom:8px;
	    }
	    .shopping_help{
	    	padding-top: 10px;
		    height: 200px;
		    float: left;
		    width: 299px;
		    border-right: 1px solid #e8e8e8;
		    ul{
			    float: left;
	    		width: 149px;
	    		margin-bottom: 10px;
	    		li{
	    			line-height: 25px;
	    		}
		    }
	    }
	    .service_phone{
	    	@extend .shopping_help;
	    	text-align:center;
	    	
	    	h5{
			    line-height: 65px;
					font-size: 24px;
	    	}
	    	p{
		    	line-height: 30px;
	    	}
	    }
	    .supscrition{
	    	@extend .service_phone;
	    	p{
	    		padding-top: 5px;
	    		margin-bottom:20px;
			    color: #333;
					font-size: 14px;
	    	}
	    	input{
			    border-radius: 2px;
			    border: solid 1px #e8e8e8;
			    width: 173px;
			    height: 41px;
			    padding-left: 22px;
			    background: #f5f5f5;
			    line-height: 41px;
	    	}
	    	.booked a{
	    		display: block;
	    		// cursor: pointer;
			    width: 197px;
			    height: 49px;
			    background: #333;
			    color: #fff;
			    line-height: 49px;
			    margin: 25px auto 0;
			    border-radius: 2px;
	    	}
	    }
	    .download{
		    padding-left: 25px;
		    border-right: none;
		    text-align: center;
		    width: 275px;
	        padding-top: 10px;
			height: 200px;
			float: left;
		    .download_app{
		    	text-align:center;
	    	    // margin-left: 20px;
	    	    div{
		    	    margin-top: 20px;
				    border: 1px solid #e8e8e8;
				    padding: 20px;
				    span{
			    	    display: block;
						width: 67px;
						height: 67px;
					    background: url(../img/down_app.png);
				    }
	    	    }
		    }
		    .download_wechat{
		    	text-align:center;
				div{
				    border: 1px solid #e8e8e8;
					padding: 20px;
					margin-top: 20px;
					span{
					    display: block;
						width: 67px;
						height: 67px;
					    background: url(../img/wechat.png);
					}
				}
		    }
			.clear{
				clear:both;
			}
			p{
			    text-align: right;
				line-height: 60px;
				color: #999;
			}
	    }
	}
	.footer_m{
		clear:both;
	    background: #414141;
		width: 100%;
		height: 280px;
		min-width: $wid;
		.promise ul{
		    height: 138px;
		    line-height: 138px;
		    color: white;
		    width: $wid;
		    margin: $mgauto;
		    background: #414141;
		    li{
	    	    float: left;
   				font-size: 18px;
			    text-align: center;
			    div{
		    	    position: relative;
				    top: 42px;
				    margin-right: 24px;
				    float: left;
				    width: 52px;
				    height: 52px;
				    background: url(../img/footer_icon.png) center;
			    }
			
   				&:nth-child(1) div{
   					background-position: right;
   				}
   				&:nth-child(2){
		    		width: 765px;
					text-align: center;
					left: 28px;
					div{
					    position: relative;
   						left: 299px;
	   				}
   				}
   				&:nth-child(3) div{
   					background-position: left;
   				}
		    }
		}
	    .footer_shadow{
	    	height: 0;
	    	width:100%;
			border-bottom: 1px solid #333;
			border-top: 1px solid #4d4d4d;
	    }
		.footer_b{
			width:$wid;
			margin:$mgauto;
		    padding-top: 30px;
	  	 	background: #414141;
	  	 	color:#999;
	  	 	.copyright{
				margin-left:-10px;
				width:437px;
				ul {
					overflow: hidden;
					
					li{
					    text-align: center;
					    float: left;
					    height: 20px;
					    width: 72px;
					    border-left: 1px solid #999;
					    line-height: 20px;
					    
					}
					a{
						color:#999;
					}
				}
				p{
				    padding-left: 12px;
				    line-height: 47px;
				}
				div{
				    padding-left: 12px;
				    span{
				    	margin-right:20px;
				    }
				}
	  	 	}
	  	 	.footer_cut{
  	 		    float:left;
 		        margin: 5px 1px 0 170px;
			    height: 86px;
			    border-right: 1px solid #333;
			    border-left: 1px solid #4d4d4d;
	  	 	}
	  	 	.cooperation{
	  	 		width:589px;
				h6{
					text-align: center;
    				margin: 5px 0 23px;
				}
				ul{
					overflow: hidden;
					li{
						float:left;
					    padding: 0 17px
					}
					a{
						display: block;
						background: url(../img/cooperate_icon.png);
					}
					.cooperate1 a{
						width: 18px;
						height: 20px;
					}
					.cooperate2 a{
						background:transparent;
						span{
							display: block;

							float:left;
							width: 31px;
					    	height: 19px;
					    	background:url(../img/cooperate_icon.png) -199px 0;
						}
						i{
							color:#999;
							float:left;
						}
					}
					.cooperate3 a{
						width: 68px;
						height: 22px;
						background: url(../img/footer.png) 0 -24px;
					}
					.cooperate4 a{
					    width: 72px;
					    height: 31px;
					    background-position: -127px 0;
					}
					.cooperate5 a{
						width: 60px;
						height: 23px;
						background-position: -66px 0;
					}
					.cooperate6 a{
					    width: 77px;
					    height: 23px;
					    background: url(../img/footer.png) -77px -23px;
					}
				}
	  	 	}
		}
	}
}
