html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, menu, input, button, textarea, p, blockquote, th, td{
	margin:0;padding:0;
}
$wid:1200px;
$mgauto:0 auto;
body{
	font: 12px "微软雅黑",Helvetica,sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #555;
}
a{
	color: #666;
    text-decoration: none;
}
li{
	list-style: none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after {
		    display: block;
		    clear: both;
		    content: ".";
		    visibility: hidden;
		    height: 0;	
}
.headerbg{
	width:100%;
	min-width: $wid;
	background: #fff;
	font-size: 14px;
    margin-bottom: 20px;
	.header{
		width:$wid;
		margin:$mgauto;
	    height: 146px;
    	line-height: 146px;
    	.logo{
		    width: 160px;
		    height: 65px;
		    margin-top: 39px;
		    a{
		    	display: block;
		    	width: 160px;
		   		height: 65px;
		   		img{
		   			display:block;
		   		}
		    }
    	}
    	.help{
			position:relative;
			left:-38px;
    	}
    	.phone{
			position:relative;
    		span{
				display: block;
			    width: 20px;
			    height: 20px;
			    background: url(../img/headico.png) no-repeat;
			    position: absolute;
		        top: 63px;
	    		left: -23px;
	    	}
    	}
	}
	.shadow{
		background: url(../img/headerbg.png) 0 bottom repeat-x;
	    width: 100%;
	    height: 8px;
	}
}

.content{
	position: relative;
    height: 535px;
    background: #fefefe url(../img/login.jpg) center 0 no-repeat;
}
.login{
	position: absolute;
    top: 25px;
    left: 50%;
    margin-left: 150px;
    width: 298px;
    background: #fff;
    padding: 30px 40px;
    background: #fff;
    border: solid 1px #e8e8e8;
    box-shadow: 3px 3px 7px #eee;
    .msg_dl{
    	font-size: 18px;
   		font-weight: bold;
	    margin-bottom: 20px;
	    color: #333;
    }
    .username{
	    border: solid 1px #e8e8e8;
	    background: #fff;
	    margin-bottom: 10px;
	    padding: 4px 0;
	    .tou,.lock{
	    	width: 26px;
		    height:26px;
		    padding-right: 4px;
		    background: url(../img/memberico.gif) no-repeat -52px 0;
		    margin: 0 4px 0 6px;
		    border-right: solid 1px #e8e8e8;
	    }
	    .telphone{
    	    width: 240px;
		    margin: 0 0 0 4px;
		    position: relative;
		    input{
	    	    width: 100%;
			    padding: 0;
			    outline:none;
			    border: none;
			    font-size: 14px;
			    height: 26px;
			    line-height: 26px;
			    color: #333;
		    }
	    }
	    .lock{
	    	 background-position: -26px 0;
	    }
    }
    .telphone_msg{
	    border: solid 1px #e8e8e8;
	    background: #fff;
	    margin-bottom: 10px;
	    padding: 4px 0;
	    .telphone_msg_pic{
    	    width: 26px;
		    height: 26px;
		    padding-right: 4px;
		    background: url(../img/memberico.gif) no-repeat -78px 0;
		    margin: 0 4px 0 6px;
		    border-right: solid 1px #e8e8e8;
	    }
	    .telphone_msg_value{
			margin-right:4px;
		    input{
	    	    width: 120px;
			    padding:0;
			    margin-left:14px;
			    border: none;
			    outline: none;
			    font-size: 14px;
			    height: 26px;
			    line-height: 26px;
			    color: #333;
		    }
	    }
    }
    .msg_send {
    	margin-top:10px;
    	a{
    		color: #669aca;
    	}
    }

    .auto_login label{
		position:relative;
		input{
			position: absolute;
			top:3px;
		}
		span{
			display: inline-block;
			margin-left:20px;
			cursor: pointer;
		}
    }
    .tips{
    	height:30px;
    }
    .login_btn button{
	    width: 100%;
	    height: 48px;
	    background: #333;
	    color: #fff;
	    border: none;
	    border-radius: 3px;
	    font-size: 18px;
	    font-family: "微软雅黑";
    }
    .sign_up{
    	text-align: center;
   		margin: 25px 0 15px 0;
   		a{
   			color:#669aca;
   		}
    }
}