@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, menu, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  font: 12px "微软雅黑",Helvetica,sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #555;
}

a {
  color: #666;
  text-decoration: none;
}

li {
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}

.headerbg {
  width: 100%;
  min-width: 1200px;
}

.headerbg .header_t_bg {
  background: #fafafa;
}

.headerbg .header_t_bg .header {
  width: 1200px;
  height: 35px;
  margin: 0 auto;
  border-bottom: 1px solid #f5f5f5;
}

.headerbg .header_t_bg .header .head-app {
  margin-top: 8px;
}

.headerbg .header_t_bg .header .head-app span {
  padding: 0 25px;
}

.headerbg .header_t_bg .header .head-app span .icon-app {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/headico.png) no-repeat;
  position: absolute;
}

.headerbg .header_t_bg .header .head-app .app {
  border-left: solid 1px #d9d9d9;
  position: relative;
}

.headerbg .header_t_bg .header .head-app .app .ewm1 {
  padding-left: 15px;
  display: block;
  position: relative;
}

.headerbg .header_t_bg .header .head-app .app .ewm1 .icon-app2 {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/headico.png) no-repeat -20px 0;
}

.headerbg .header_t_bg .header .head-app .app .ewm {
  position: absolute;
  top: 28px;
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.headerbg .header_t_bg .header .head-app .app .ewm a {
  display: block;
}

.headerbg .header_t_bg .header .head-app .app .ewm a span {
  display: block;
}

.headerbg .header_t_bg .header .right {
  margin-top: 8px;
}

.headerbg .header_t_bg .header .right .login {
  float: left;
}

.headerbg .header_t_bg .header .right .login span {
  margin: 0 10px;
}

.headerbg .header_t_bg .header .right .car {
  float: right;
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
}

.headerbg .header_t_bg .header .right .car .icon-app3 {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/headico.png) no-repeat -40px 0;
  position: absolute;
  left: 0;
}

.headerbg .header_t_bg .header .right .car .total_car {
  min-height: 150px;
  min-width: 250px;
  position: absolute;
  right: 0;
  top: 28px;
  border: 1px solid #ddd;
  z-index: 999;
  display: none;
  background: #fff;
}

.headerbg .header_t_bg .header .right .car .total_car .mygoods {
  padding: 20px 20px 5px 20px;
  color: #999;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total {
  clear: both;
  position: relative;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy {
  padding: 15px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods {
  position: relative;
  padding-left: 20px;
  width: 300px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_url {
  width: 60px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_url img {
  width: 60px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_details {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 40px;
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_details p {
  margin: 5px 0;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_details .goods_brand {
  font-weight: bold;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_details .goods_name {
  font: 12px;
  color: #999;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_details .goods_price .goods_qty {
  color: red;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_delete {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 20px;
  color: #ccc;
  font-family: "宋体";
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .total_price {
  display: none;
  background: #f7f7f7;
  line-height: 42px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .total_price .account {
  display: inline-block;
  width: 114px;
  height: 42px;
  border-radius: 10px;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_emty {
  position: absolute;
  left: 65px;
  top: 50%;
}

.headerbg .header_middle {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.headerbg .header_middle .header_logo {
  width: 360px;
  text-align: center;
  margin: 0 auto;
  padding-top: 35px;
}

.headerbg .header_middle .header_search {
  position: absolute;
  top: 45px;
  right: 0;
}

.headerbg .header_middle .header_search input {
  width: 165px;
  padding: 0;
  outline: none;
  border: none;
  height: 29px;
  height: 22px;
  padding-top: 7px;
  border-bottom: solid 1px #e8e8e8;
}

.headerbg .header_middle .header_search .header_search_btn {
  width: 30px;
  height: 30px;
  border: none;
  background: #fff;
}

.headerbg .header_middle .header_search .header_search_btn em {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/headico.png) -60px 0 no-repeat;
  margin-left: 2px;
}

.headerbg .nav {
  padding-top: 10px;
  position: relative;
}

.headerbg .nav .nav_list {
  width: 1200px;
  margin: 0 auto;
}

.headerbg .nav .nav_list li {
  float: left;
}

.headerbg .nav .nav_list li a {
  display: block;
  width: 120px;
  padding: 15px 0 25px 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.headerbg .nav .nav_list .subnav {
  position: absolute;
  width: 1200px;
  top: 71px;
  z-index: 99;
  text-align: center;
  background: #fff;
  border-top: solid 1px #e8e8e8;
  opacity: .95;
}

.headerbg .nav .nav_list .subnav .subnav_list {
  display: none;
  overflow: hidden;
}

.headerbg .nav .nav_list .subnav .subnav_list ul {
  display: inline-block;
  width: 200px;
  margin: 0 30px;
  padding: 25px 0 65px 0;
  text-align: left;
  vertical-align: top;
  position: relative;
}

.headerbg .nav .nav_list .subnav .subnav_list ul li a {
  display: block;
  clear: both;
  padding: 7px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  color: #666;
}

.headerbg .nav .nav_list .subnav .subnav_list ul .active {
  font-weight: 600;
}

.consult {
  position: fixed;
  right: 0;
  bottom: 100px;
  border: solid 1px #ddd;
  background: #fff;
  z-index: 2;
}

.consult ul li {
  position: relative;
}

.consult ul li .consult_online {
  display: block;
  width: 58px;
  height: 46px;
  padding-top: 12px;
  border-bottom: solid 1px #ddd;
}

.consult ul li .consult_online em {
  display: block;
  width: 35px;
  height: 35px;
  background: url(../img/consult.png) no-repeat;
  margin: 0 auto;
}

.consult ul li:nth-child(2) em {
  background-position: 0 -35px;
}

.consult ul li:nth-child(3) em {
  background-position: 0 -70px;
}

.consult ul li:nth-child(4) em {
  background-position: 0 -105px;
}

.consult ul li:hover {
  background: #666;
}

.consult ul li:nth-child(1) :hover {
  background-position: -35px 0;
}

.consult ul li:nth-child(2) :hover {
  background-position: -35px -35px;
}

.consult ul li:nth-child(3) :hover {
  background-position: -35px -70px;
}

.consult ul li:nth-child(4) :hover {
  background-position: -35px -105px;
}

.consult ul .phone_ewm {
  position: relative;
}

.consult ul .phone_ewm .consult_app {
  display: none;
  position: absolute;
  top: -17px;
  left: -100px;
  padding: 10px;
  background: #fff;
  border: solid 1px #ececec;
  font-size: 0;
}

.consult ul .phone_ewm .consult_app img {
  display: block;
}

.consult ul .phone_ewm .consult_app div {
  width: 8px;
  height: 17px;
  background: url(../img/headico.png) -97px -3px no-repeat;
  position: absolute;
  z-index: 2;
  top: 38px;
  right: -8px;
}

/* 内容样式 */
.containerbg {
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
}

.containerbg .headerShadow {
  background: url(../img/headerbg.png) 0 bottom repeat-x;
  width: 100%;
  height: 8px;
}

.containerbg .container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.containerbg .container .car_title {
  margin-bottom: 10px;
  height: 43px;
  border: solid 1px #e8e8e8;
  background: #f5f5f5;
  color: #333;
  line-height: 43px;
}

.containerbg .container .car_title .title_01 {
  width: 190px;
}

.containerbg .container .car_title .title_01 .allpro {
  cursor: pointer;
  line-height: 43px;
}

.containerbg .container .car_title .title_01 .allpro input {
  margin: 0 3px 0 30px;
  border: none;
  font-size: 12px;
  color: #6c6c6c;
  padding-left: 5px;
}

.containerbg .container .car_title .title_02 {
  width: 255px;
}

.containerbg .container .car_title .title_03 {
  width: 175px;
  text-align: center;
}

.containerbg .container .car_title .title_04 {
  width: 215px;
  text-align: center;
}

.containerbg .container .car_title .title_05 {
  width: 185px;
  text-align: center;
}

.containerbg .container .carList {
  border: solid 1px #e8e8e8;
  padding: 0 30px;
  font-size: 14px;
}

.containerbg .container .carList .goodsList {
  font-size: 14px;
}

.containerbg .container .carList .goodsList .tableList {
  border-collapse: collapse;
  border-spacing: 0;
}

.containerbg .container .carList .goodsList .tableList tr {
  border-bottom: solid 1px #e8e8e8;
}

.containerbg .container .carList .goodsList .tableList tr td {
  padding: 23px 0;
}

.containerbg .container .carList .goodsList .tableList .rel {
  width: 415px;
  position: relative;
}

.containerbg .container .carList .goodsList .tableList .rel .goods_check {
  position: absolute;
  top: 66px;
  left: 0;
}

.containerbg .container .carList .goodsList .tableList .rel .car_goods_pic {
  width: 98px;
  height: 93px;
  text-align: center;
  padding-top: 5px;
  margin-left: 30px;
}

.containerbg .container .carList .goodsList .tableList .rel .car_goods_pic img {
  width: 75px;
  height: 90px;
}

.containerbg .container .carList .goodsList .tableList .rel .car_goods_details {
  margin-left: 30px;
  text-align: left;
  margin-top: 25px;
}

.containerbg .container .carList .goodsList .tableList .rel .car_goods_details p {
  height: 23px;
  line-height: 23px;
  width: 250px;
}

.containerbg .container .carList .goodsList .tableList .rel .car_goods_details .goods_name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.containerbg .container .carList .goodsList .tableList .car_goods_price {
  width: 175px;
  text-align: center;
}

.containerbg .container .carList .goodsList .tableList .car_goods_num {
  width: 215px;
}

.containerbg .container .carList .goodsList .tableList .car_goods_num div {
  margin: 0 auto;
  width: 102px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}

.containerbg .container .carList .goodsList .tableList .car_goods_num div a {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  color: #333;
  text-align: center;
}

.containerbg .container .carList .goodsList .tableList .car_goods_num div .num_jian {
  border-right: 1px solid #d9d9d9;
}

.containerbg .container .carList .goodsList .tableList .car_goods_num div .num_jia {
  border-left: 1px solid #d9d9d9;
}

.containerbg .container .carList .goodsList .tableList .car_goods_num div input {
  display: block;
  border: none;
  float: left;
  width: 56px;
  height: 22px;
  color: #333;
  text-align: center;
  line-height: 22px;
}

.containerbg .container .carList .goodsList .tableList .car_goods_total {
  width: 185px;
  text-align: center;
}

.containerbg .container .carList .goodsList .tableList .car_goods_del {
  width: 128px;
  padding-left: 20px;
  margin: 0 auto;
  text-align: left;
  line-height: 2;
}

.containerbg .container .car_bar {
  margin-top: 10px;
  background: #fcfcfc;
  border: solid 1px #e8e8e8;
}

.containerbg .container .car_bar .car_delete_l {
  margin-top: 10px;
}

.containerbg .container .car_bar .car_delete_l .allDelete {
  margin-right: 30px;
  line-height: 43px;
}

.containerbg .container .car_bar .car_delete_l .allDelete .allpro {
  cursor: pointer;
}

.containerbg .container .car_bar .car_delete_l .allDelete .allpro input {
  margin: 0 3px 0 30px;
  border: none;
  font-size: 12px;
  color: #6c6c6c;
  padding-left: 5px;
}

.containerbg .container .car_bar .car_delete_l .allDelete_msg {
  line-height: 43px;
}

.containerbg .container .car_bar .car_delete_l .allDelete_msg a {
  margin-right: 30px;
}

.containerbg .container .car_bar .car_delete_r {
  margin: 15px 30px 10px 0;
  width: 335px;
  border-bottom: solid 1px #ebebeb;
  padding-bottom: 15px;
  text-align: right;
}

.containerbg .container .car_bar .car_delete_r .total_price {
  color: red;
  font-weight: bolder;
  font-size: 18px;
}

.containerbg .container .car_bar .continue_buy {
  padding: 30px 30px 50px 30px;
}

.containerbg .container .car_bar .continue_buy .go_on_buy {
  display: block;
  width: 123px;
  height: 46px;
  font-size: 14px;
  padding-left: 15px;
  color: #fff;
  border: solid 1px #ccc;
  border-radius: 3px;
  text-align: center;
  line-height: 46px;
  color: #666;
  margin-top: 2px;
  background: url(../img/goonbuy.gif) 25px 18px no-repeat;
}

.containerbg .container .car_bar .continue_buy .buying {
  cursor: pointer;
  width: 165px;
  height: 50px;
  background: #c43f40;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
}

.containerbg .container .like {
  margin-top: 20px;
  border: solid 1px #e8e8e8;
}

.containerbg .container .like .your_fav {
  height: 70px;
  line-height: 70px;
  border-bottom: solid 1px #e8e8e8;
  margin: 0 30px;
}

.containerbg .container .like .goods_like {
  width: 1140px;
  margin: 0 auto;
}

.containerbg .container .like .goods_container {
  visibility: visible;
  overflow: hidden;
  position: relative;
  z-index: 2;
  left: 0px;
  width: 1048px;
  padding: 20px 40px;
  margin: 0 auto;
}

.containerbg .container .like .goods_container .goods_prev {
  width: 17px;
  height: 350px;
  position: absolute;
  left: 0;
  z-index: 3;
  background: #fff;
  cursor: pointer;
}

.containerbg .container .like .goods_container .goods_prev p {
  width: 17px;
  position: absolute;
  height: 38px;
  top: 100px;
  background: url(../img/pre_btn.png) no-repeat;
}

.containerbg .container .like .goods_container .goods_next {
  width: 17px;
  height: 350px;
  position: absolute;
  right: 0;
  z-index: 3;
  background: #fff;
  cursor: pointer;
}

.containerbg .container .like .goods_container .goods_next p {
  width: 17px;
  position: absolute;
  height: 38px;
  top: 100px;
  background: url(../img/next_btn.png) no-repeat;
}

.containerbg .container .like .goods_container .like_list {
  width: 100%;
  position: relative;
}

.containerbg .container .like .goods_container .like_list ul {
  overflow: hidden;
  position: relative;
  width: 6600px;
}

.containerbg .container .like .goods_container .like_list ul li {
  width: 220px;
  height: 350px;
  margin: 0 24px;
  text-align: center;
}

.containerbg .container .like .goods_container .like_list ul li .pic {
  display: block;
  text-align: center;
  padding-top: 10px;
  text-align: center;
}

.containerbg .container .like .goods_container .like_list ul li .pic img {
  display: block;
  width: 180px;
  height: 180px;
}

.containerbg .container .like .goods_container .like_list ul li .global {
  width: 48px;
  height: 24px;
  margin-right: 10px;
  text-align: left;
  padding: 10px 20px;
}

.containerbg .container .like .goods_container .like_list ul li .global .g_buy {
  width: 48px;
  height: 24px;
  background: url(../img/saleTip1.png) -1px -3px no-repeat;
}

.containerbg .container .like .goods_container .like_list ul li .goodsname a {
  display: block;
  height: 45px;
  padding: 0 20px 9px 20px;
  line-height: 2;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #666;
}

.containerbg .container .like .goods_container .like_list ul li .goodsname a i {
  font-style: normal;
}

.containerbg .container .like .goods_container .like_list ul li .goodsname a span {
  font-weight: bold;
  color: #000;
}

.containerbg .container .like .goods_container .like_list ul li .price {
  height: 18px;
  line-height: 18px;
  padding: 1px 0;
  height: 26px;
  padding: 0 20px;
  text-align: left;
  color: #666;
}

.containerbg .container .like .goods_container .like_list ul li .bigCar {
  width: 126px;
  height: 33px;
  line-height: 33px;
  border: solid 1px #e8e8e8;
  margin-left: 20px;
  cursor: pointer;
}

/* 底部样式 */
.footer {
  margin-top: 20px;
  border-top: 1px solid #e8e8e8;
}

.footer .footer_t {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 40px;
}

.footer .footer_t .no_link {
  color: #333;
  font-size: 14px;
  margin-bottom: 8px;
}

.footer .footer_t .shopping_help, .footer .footer_t .service_phone, .footer .footer_t .supscrition {
  padding-top: 10px;
  height: 200px;
  float: left;
  width: 299px;
  border-right: 1px solid #e8e8e8;
}

.footer .footer_t .shopping_help ul, .footer .footer_t .service_phone ul, .footer .footer_t .supscrition ul {
  float: left;
  width: 149px;
  margin-bottom: 10px;
}

.footer .footer_t .shopping_help ul li, .footer .footer_t .service_phone ul li, .footer .footer_t .supscrition ul li {
  line-height: 25px;
}

.footer .footer_t .service_phone, .footer .footer_t .supscrition {
  text-align: center;
}

.footer .footer_t .service_phone h5, .footer .footer_t .supscrition h5 {
  line-height: 65px;
  font-size: 24px;
}

.footer .footer_t .service_phone p, .footer .footer_t .supscrition p {
  line-height: 30px;
}

.footer .footer_t .supscrition p {
  padding-top: 5px;
  margin-bottom: 20px;
  color: #333;
  font-size: 14px;
}

.footer .footer_t .supscrition input {
  border-radius: 2px;
  border: solid 1px #e8e8e8;
  width: 173px;
  height: 41px;
  padding-left: 22px;
  background: #f5f5f5;
  line-height: 41px;
}

.footer .footer_t .supscrition .booked a {
  display: block;
  width: 197px;
  height: 49px;
  background: #333;
  color: #fff;
  line-height: 49px;
  margin: 25px auto 0;
  border-radius: 2px;
}

.footer .footer_t .download {
  padding-left: 25px;
  border-right: none;
  text-align: center;
  width: 275px;
  padding-top: 10px;
  height: 200px;
  float: left;
}

.footer .footer_t .download .download_app {
  text-align: center;
}

.footer .footer_t .download .download_app div {
  margin-top: 20px;
  border: 1px solid #e8e8e8;
  padding: 20px;
}

.footer .footer_t .download .download_app div span {
  display: block;
  width: 67px;
  height: 67px;
  background: url(../img/down_app.png);
}

.footer .footer_t .download .download_wechat {
  text-align: center;
}

.footer .footer_t .download .download_wechat div {
  border: 1px solid #e8e8e8;
  padding: 20px;
  margin-top: 20px;
}

.footer .footer_t .download .download_wechat div span {
  display: block;
  width: 67px;
  height: 67px;
  background: url(../img/wechat.png);
}

.footer .footer_t .download .clear {
  clear: both;
}

.footer .footer_t .download p {
  text-align: right;
  line-height: 60px;
  color: #999;
}

.footer .footer_m {
  clear: both;
  background: #414141;
  width: 100%;
  height: 280px;
  min-width: 1200px;
}

.footer .footer_m .promise ul {
  height: 138px;
  line-height: 138px;
  color: white;
  width: 1200px;
  margin: 0 auto;
  background: #414141;
}

.footer .footer_m .promise ul li {
  float: left;
  font-size: 18px;
  text-align: center;
}

.footer .footer_m .promise ul li div {
  position: relative;
  top: 42px;
  margin-right: 24px;
  float: left;
  width: 52px;
  height: 52px;
  background: url(../img/footer_icon.png) center;
}

.footer .footer_m .promise ul li:nth-child(1) div {
  background-position: right;
}

.footer .footer_m .promise ul li:nth-child(2) {
  width: 765px;
  text-align: center;
  left: 28px;
}

.footer .footer_m .promise ul li:nth-child(2) div {
  position: relative;
  left: 299px;
}

.footer .footer_m .promise ul li:nth-child(3) div {
  background-position: left;
}

.footer .footer_m .footer_shadow {
  height: 0;
  width: 100%;
  border-bottom: 1px solid #333;
  border-top: 1px solid #4d4d4d;
}

.footer .footer_m .footer_b {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  background: #414141;
  color: #999;
}

.footer .footer_m .footer_b .copyright {
  margin-left: -10px;
  width: 437px;
}

.footer .footer_m .footer_b .copyright ul {
  overflow: hidden;
}

.footer .footer_m .footer_b .copyright ul li {
  text-align: center;
  float: left;
  height: 20px;
  width: 72px;
  border-left: 1px solid #999;
  line-height: 20px;
}

.footer .footer_m .footer_b .copyright ul a {
  color: #999;
}

.footer .footer_m .footer_b .copyright p {
  padding-left: 12px;
  line-height: 47px;
}

.footer .footer_m .footer_b .copyright div {
  padding-left: 12px;
}

.footer .footer_m .footer_b .copyright div span {
  margin-right: 20px;
}

.footer .footer_m .footer_b .footer_cut {
  float: left;
  margin: 5px 1px 0 170px;
  height: 86px;
  border-right: 1px solid #333;
  border-left: 1px solid #4d4d4d;
}

.footer .footer_m .footer_b .cooperation {
  width: 589px;
}

.footer .footer_m .footer_b .cooperation h6 {
  text-align: center;
  margin: 5px 0 23px;
}

.footer .footer_m .footer_b .cooperation ul {
  overflow: hidden;
}

.footer .footer_m .footer_b .cooperation ul li {
  float: left;
  padding: 0 17px;
}

.footer .footer_m .footer_b .cooperation ul a {
  display: block;
  background: url(../img/cooperate_icon.png);
}

.footer .footer_m .footer_b .cooperation ul .cooperate1 a {
  width: 18px;
  height: 20px;
}

.footer .footer_m .footer_b .cooperation ul .cooperate2 a {
  background: transparent;
}

.footer .footer_m .footer_b .cooperation ul .cooperate2 a span {
  display: block;
  float: left;
  width: 31px;
  height: 19px;
  background: url(../img/cooperate_icon.png) -199px 0;
}

.footer .footer_m .footer_b .cooperation ul .cooperate2 a i {
  color: #999;
  float: left;
}

.footer .footer_m .footer_b .cooperation ul .cooperate3 a {
  width: 68px;
  height: 22px;
  background: url(../img/footer.png) 0 -24px;
}

.footer .footer_m .footer_b .cooperation ul .cooperate4 a {
  width: 72px;
  height: 31px;
  background-position: -127px 0;
}

.footer .footer_m .footer_b .cooperation ul .cooperate5 a {
  width: 60px;
  height: 23px;
  background-position: -66px 0;
}

.footer .footer_m .footer_b .cooperation ul .cooperate6 a {
  width: 77px;
  height: 23px;
  background: url(../img/footer.png) -77px -23px;
}
