@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, menu, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  font: 12px "微软雅黑",Helvetica,sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #555;
}

a {
  color: #666;
  text-decoration: none;
}

li {
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}

/* 内容样式 */
.containerbg {
  width: 100%;
  min-width: 1200px;
  background: #f5f5f5;
  overflow: hidden;
}

.containerbg .headerShadow {
  background: url(../img/headerbg.png) 0 bottom repeat-x;
  width: 100%;
  height: 8px;
}

.containerbg .container {
  width: 1200px;
  margin: 10px auto;
}

.containerbg .container .details {
  background: #fff;
  padding: 70px 0;
}

.containerbg .container .details .details_fl {
  width: 510px;
  margin-left: 95px;
}

.containerbg .container .details .details_fl .nor_img img {
  height: 460px;
  cursor: pointer;
  border: 1px solid #ddd;
}

.containerbg .container .details .details_fr {
  padding: 20px 0 0 85px;
  width: 425px;
}

.containerbg .container .details .details_fr h1 {
  font-weight: normal;
}

.containerbg .container .details .details_fr h1 a {
  font-size: 24px;
  display: block;
  color: #333;
  max-width: 361px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.containerbg .container .details .details_fr .details_name {
  font-size: 14px;
  margin: 4px 20px 10px 0;
  max-width: 341px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.containerbg .container .details .details_fr .price_l {
  display: block;
  width: 60px;
  margin-bottom: 10px;
}

.containerbg .container .details .details_fr .price_b {
  font-size: 18px;
  font-weight: bold;
}

.containerbg .container .details .details_fr .details_l {
  width: 60px;
  display: block;
  margin-bottom: 10px;
}

.containerbg .container .details .details_fr .allSize {
  height: 28px;
  line-height: 28px;
  width: 60px;
}

.containerbg .container .details .details_fr .size_num .size {
  background: #fff;
  width: 42px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  padding: 0 5px;
  margin-right: 5px;
  border: solid 1px #333;
  color: #333;
  border-radius: 2px;
  cursor: pointer;
}

.containerbg .container .details .details_fr .size_num .active {
  background: #000;
  color: #fff;
}

.containerbg .container .details .details_fr p {
  padding-left: 60px;
  margin: 10px 0 20px 0;
}

.containerbg .container .details .details_fr .details_buy .buy_now {
  background: #333;
  width: 152px;
  height: 45px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
}

.containerbg .container .details .details_fr .details_buy .buy_now a {
  color: #fff;
  line-height: 45px;
}

.containerbg .container .details .details_fr .details_buy .atc {
  background: #c53f40;
  margin-left: 10px;
  width: 143px;
  height: 45px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
}

.containerbg .container .details .details_fr .details_buy .atc a {
  color: #fff;
  line-height: 45px;
}

.containerbg .container .details .details_fr .details_buy .details_share .collect {
  border: solid 1px #e8e8e8;
  margin-left: 10px;
  display: inline-block;
  width: 43px;
  height: 43px;
  background: url(../img/pst.gif) no-repeat;
  background-position: 0 -13px;
}

.containerbg .container .details .details_fr .details_buy .details_share .share {
  cursor: pointer;
  border: solid 1px #e8e8e8;
  float: left;
  width: 43px;
  height: 43px;
  margin-left: 20px;
  background: url(../img/pst.gif) 0 -56px no-repeat;
  position: relative;
}

.containerbg .container .details .details_fr .arrive {
  padding: 15px 0;
  height: 20px;
  margin-top: 10px;
  border-bottom: solid 1px #f5f5f5;
}

.containerbg .container .details .details_fr .arrive .arrive_time {
  width: 78px;
  float: left;
  display: block;
}

.containerbg .container .details .details_fr .arrive span {
  display: block;
  width: 345px;
  float: right;
  display: block;
}

.containerbg .container .details_tab {
  background: #fff;
  margin: 20px 0;
}

.containerbg .container .details_tab ul li {
  cursor: pointer;
  float: left;
  width: 110px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
}

.containerbg .container .details_tab .tab_active {
  background: #505050;
  color: #fff;
}
