/* 底部样式 */
.footer {
  margin-top: 20px;
  border-top: 1px solid #e8e8e8;
}

.footer .footer_t {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 40px;
}

.footer .footer_t .no_link {
  color: #333;
  font-size: 14px;
  margin-bottom: 8px;
}

.footer .footer_t .shopping_help, .footer .footer_t .service_phone, .footer .footer_t .supscrition {
  padding-top: 10px;
  height: 200px;
  float: left;
  width: 299px;
  border-right: 1px solid #e8e8e8;
}

.footer .footer_t .shopping_help ul, .footer .footer_t .service_phone ul, .footer .footer_t .supscrition ul {
  float: left;
  width: 149px;
  margin-bottom: 10px;
}

.footer .footer_t .shopping_help ul li, .footer .footer_t .service_phone ul li, .footer .footer_t .supscrition ul li {
  line-height: 25px;
}

.footer .footer_t .service_phone, .footer .footer_t .supscrition {
  text-align: center;
}

.footer .footer_t .service_phone h5, .footer .footer_t .supscrition h5 {
  line-height: 65px;
  font-size: 24px;
}

.footer .footer_t .service_phone p, .footer .footer_t .supscrition p {
  line-height: 30px;
}

.footer .footer_t .supscrition p {
  padding-top: 5px;
  margin-bottom: 20px;
  color: #333;
  font-size: 14px;
}

.footer .footer_t .supscrition input {
  border-radius: 2px;
  border: solid 1px #e8e8e8;
  width: 173px;
  height: 41px;
  padding-left: 22px;
  background: #f5f5f5;
  line-height: 41px;
}

.footer .footer_t .supscrition .booked a {
  display: block;
  width: 197px;
  height: 49px;
  background: #333;
  color: #fff;
  line-height: 49px;
  margin: 25px auto 0;
  border-radius: 2px;
}

.footer .footer_t .download {
  padding-left: 25px;
  border-right: none;
  text-align: center;
  width: 275px;
  padding-top: 10px;
  height: 200px;
  float: left;
}

.footer .footer_t .download .download_app {
  text-align: center;
}

.footer .footer_t .download .download_app div {
  margin-top: 20px;
  border: 1px solid #e8e8e8;
  padding: 20px;
}

.footer .footer_t .download .download_app div span {
  display: block;
  width: 67px;
  height: 67px;
  background: url(../img/down_app.png);
}

.footer .footer_t .download .download_wechat {
  text-align: center;
}

.footer .footer_t .download .download_wechat div {
  border: 1px solid #e8e8e8;
  padding: 20px;
  margin-top: 20px;
}

.footer .footer_t .download .download_wechat div span {
  display: block;
  width: 67px;
  height: 67px;
  background: url(../img/wechat.png);
}

.footer .footer_t .download .clear {
  clear: both;
}

.footer .footer_t .download p {
  text-align: right;
  line-height: 60px;
  color: #999;
}

.footer .footer_m {
  clear: both;
  background: #414141;
  width: 100%;
  height: 280px;
  min-width: 1200px;
}

.footer .footer_m .promise ul {
  height: 138px;
  line-height: 138px;
  color: white;
  width: 1200px;
  margin: 0 auto;
  background: #414141;
}

.footer .footer_m .promise ul li {
  float: left;
  font-size: 18px;
  text-align: center;
}

.footer .footer_m .promise ul li div {
  position: relative;
  top: 42px;
  margin-right: 24px;
  float: left;
  width: 52px;
  height: 52px;
  background: url(../img/footer_icon.png) center;
}

.footer .footer_m .promise ul li:nth-child(1) div {
  background-position: right;
}

.footer .footer_m .promise ul li:nth-child(2) {
  width: 765px;
  text-align: center;
  left: 28px;
}

.footer .footer_m .promise ul li:nth-child(2) div {
  position: relative;
  left: 299px;
}

.footer .footer_m .promise ul li:nth-child(3) div {
  background-position: left;
}

.footer .footer_m .footer_shadow {
  height: 0;
  width: 100%;
  border-bottom: 1px solid #333;
  border-top: 1px solid #4d4d4d;
}

.footer .footer_m .footer_b {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  background: #414141;
  color: #999;
}

.footer .footer_m .footer_b .copyright {
  margin-left: -10px;
  width: 437px;
}

.footer .footer_m .footer_b .copyright ul {
  overflow: hidden;
}

.footer .footer_m .footer_b .copyright ul li {
  text-align: center;
  float: left;
  height: 20px;
  width: 72px;
  border-left: 1px solid #999;
  line-height: 20px;
}

.footer .footer_m .footer_b .copyright ul a {
  color: #999;
}

.footer .footer_m .footer_b .copyright p {
  padding-left: 12px;
  line-height: 47px;
}

.footer .footer_m .footer_b .copyright div {
  padding-left: 12px;
}

.footer .footer_m .footer_b .copyright div span {
  margin-right: 20px;
}

.footer .footer_m .footer_b .footer_cut {
  float: left;
  margin: 5px 1px 0 170px;
  height: 86px;
  border-right: 1px solid #333;
  border-left: 1px solid #4d4d4d;
}

.footer .footer_m .footer_b .cooperation {
  width: 589px;
}

.footer .footer_m .footer_b .cooperation h6 {
  text-align: center;
  margin: 5px 0 23px;
}

.footer .footer_m .footer_b .cooperation ul {
  overflow: hidden;
}

.footer .footer_m .footer_b .cooperation ul li {
  float: left;
  padding: 0 17px;
}

.footer .footer_m .footer_b .cooperation ul a {
  display: block;
  background: url(../img/cooperate_icon.png);
}

.footer .footer_m .footer_b .cooperation ul .cooperate1 a {
  width: 18px;
  height: 20px;
}

.footer .footer_m .footer_b .cooperation ul .cooperate2 a {
  background: transparent;
}

.footer .footer_m .footer_b .cooperation ul .cooperate2 a span {
  display: block;
  float: left;
  width: 31px;
  height: 19px;
  background: url(../img/cooperate_icon.png) -199px 0;
}

.footer .footer_m .footer_b .cooperation ul .cooperate2 a i {
  color: #999;
  float: left;
}

.footer .footer_m .footer_b .cooperation ul .cooperate3 a {
  width: 68px;
  height: 22px;
  background: url(../img/footer.png) 0 -24px;
}

.footer .footer_m .footer_b .cooperation ul .cooperate4 a {
  width: 72px;
  height: 31px;
  background-position: -127px 0;
}

.footer .footer_m .footer_b .cooperation ul .cooperate5 a {
  width: 60px;
  height: 23px;
  background-position: -66px 0;
}

.footer .footer_m .footer_b .cooperation ul .cooperate6 a {
  width: 77px;
  height: 23px;
  background: url(../img/footer.png) -77px -23px;
}
