@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, menu, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  font: 12px "微软雅黑",Helvetica,sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #555;
}

a {
  color: #666;
  text-decoration: none;
}

li {
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}

.headerbg {
  width: 100%;
  min-width: 1200px;
}

.headerbg .header_t_bg {
  background: #fafafa;
}

.headerbg .header_t_bg .header {
  width: 1200px;
  height: 35px;
  margin: 0 auto;
  border-bottom: 1px solid #f5f5f5;
}

.headerbg .header_t_bg .header .head-app {
  margin-top: 8px;
}

.headerbg .header_t_bg .header .head-app span {
  padding: 0 25px;
}

.headerbg .header_t_bg .header .head-app span .icon-app {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/headico.png) no-repeat;
  position: absolute;
}

.headerbg .header_t_bg .header .head-app .app {
  border-left: solid 1px #d9d9d9;
  position: relative;
}

.headerbg .header_t_bg .header .head-app .app .ewm1 {
  padding-left: 15px;
  display: block;
}

.headerbg .header_t_bg .header .head-app .app .ewm1 .icon-app2 {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/headico.png) no-repeat -20px 0;
}

.headerbg .header_t_bg .header .head-app .app .ewm {
  display: none;
  position: absolute;
  top: 28px;
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

.headerbg .header_t_bg .header .head-app .app .ewm a {
  display: block;
}

.headerbg .header_t_bg .header .head-app .app .ewm a span {
  display: block;
}

.headerbg .header_t_bg .header .right {
  margin-top: 8px;
}

.headerbg .header_t_bg .header .right .login {
  float: left;
}

.headerbg .header_t_bg .header .right .login span {
  margin: 0 10px;
}

.headerbg .header_t_bg .header .right .car {
  float: right;
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
}

.headerbg .header_t_bg .header .right .car .icon-app3 {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/headico.png) no-repeat -40px 0;
  position: absolute;
  left: 0;
}

.headerbg .header_t_bg .header .right .car .total_car {
  min-height: 150px;
  min-width: 250px;
  position: absolute;
  right: 0;
  top: 28px;
  border: 1px solid #ddd;
  z-index: 999;
  display: none;
  background: #fff;
}

.headerbg .header_t_bg .header .right .car .total_car .mygoods {
  padding: 20px 20px 5px 20px;
  color: #999;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total {
  clear: both;
  position: relative;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy {
  padding: 15px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods {
  position: relative;
  padding-left: 20px;
  width: 300px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_url {
  width: 60px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_url img {
  width: 60px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_details {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 40px;
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_details p {
  margin: 5px 0;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_details .goods_brand {
  font-weight: bold;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_details .goods_name {
  font: 12px;
  color: #999;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_details .goods_price .goods_qty {
  color: red;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_buy .single_goods .goods_delete {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 20px;
  color: #ccc;
  font-family: "宋体";
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .total_price {
  display: none;
  background: #f7f7f7;
  line-height: 42px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .total_price .account {
  display: inline-block;
  width: 114px;
  height: 42px;
  border-radius: 10px;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
}

.headerbg .header_t_bg .header .right .car .total_car .goods_total .goods_emty {
  position: absolute;
  left: 65px;
  top: 50%;
}

.headerbg .header_middle {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.headerbg .header_middle .header_logo {
  width: 360px;
  text-align: center;
  margin: 0 auto;
  padding-top: 35px;
}

.headerbg .header_middle .header_search {
  position: absolute;
  top: 45px;
  right: 0;
}

.headerbg .header_middle .header_search input {
  width: 165px;
  padding: 0;
  outline: none;
  border: none;
  height: 29px;
  height: 22px;
  padding-top: 7px;
  border-bottom: solid 1px #e8e8e8;
}

.headerbg .header_middle .header_search .header_search_btn {
  width: 30px;
  height: 30px;
  border: none;
  background: #fff;
}

.headerbg .header_middle .header_search .header_search_btn em {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/headico.png) -60px 0 no-repeat;
  margin-left: 2px;
}

.headerbg .nav {
  padding-top: 10px;
  position: relative;
}

.headerbg .nav .nav_list {
  width: 1200px;
  margin: 0 auto;
}

.headerbg .nav .nav_list li {
  float: left;
}

.headerbg .nav .nav_list li a {
  display: block;
  width: 120px;
  padding: 15px 0 25px 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.headerbg .nav .nav_list .subnav {
  position: absolute;
  width: 1200px;
  top: 71px;
  z-index: 99;
  text-align: center;
  background: #fff;
  border-top: solid 1px #e8e8e8;
  opacity: .95;
}

.headerbg .nav .nav_list .subnav .subnav_list {
  display: none;
  overflow: hidden;
}

.headerbg .nav .nav_list .subnav .subnav_list ul {
  display: inline-block;
  width: 200px;
  margin: 0 30px;
  padding: 25px 0 65px 0;
  text-align: left;
  vertical-align: top;
  position: relative;
}

.headerbg .nav .nav_list .subnav .subnav_list ul li a {
  display: block;
  clear: both;
  padding: 7px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  color: #666;
}

.headerbg .nav .nav_list .subnav .subnav_list ul .active {
  font-weight: 600;
}

.headerbg .headerShadow {
  background: url(../img/headerbg.png) 0 bottom repeat-x;
  width: 100%;
  height: 8px;
}

/* 内容样式 */
.lamp_lbt {
  margin-top: 20px !important;
}

.special_offer {
  width: 1200px;
  margin: 0 auto;
}

.special_offer .cut_title {
  position: relative;
  height: 54px;
  margin: 23px 0 10px 0;
}

.special_offer .cut_title .line {
  position: absolute;
  border-bottom: 1px solid #e8e8e8;
  top: 24px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.special_offer .cut_title p {
  position: relative;
  width: 260px;
  background: #fff;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-family: 微软雅黑;
  color: #333;
  z-index: 2;
}

.special_offer .cut_title p span {
  color: #666;
}

.special_offer .special_left {
  float: left;
  width: 392px;
}

.special_offer .special_left .special_left_down {
  margin-top: 12px;
}

.special_offer .special_middle {
  float: left;
  width: 392px;
  height: 498px;
  margin: 0 12px;
  font-size: 0;
}

.special_offer .special_right {
  float: left;
  width: 392px;
}

.special_offer .special_right .special_right_down {
  margin-top: 12px;
}

.special_offer .collected {
  overflow: hidden;
  position: relative;
}

.special_offer .collected .cart_prev {
  width: 17px;
  height: 300px;
  position: absolute;
  left: 0;
  z-index: 3;
  background: #fff;
  cursor: pointer;
}

.special_offer .collected .cart_prev .m_prev {
  height: 38px;
  width: 17px;
  top: 100px;
  position: absolute;
  cursor: pointer;
  z-index: 5;
  left: 0;
  background: url(../img/pre_btn.png) no-repeat;
}

.special_offer .collected .cart_next {
  width: 17px;
  height: 300px;
  position: absolute;
  right: 0;
  z-index: 3;
  background: #fff;
  cursor: pointer;
}

.special_offer .collected .cart_next .m_next {
  height: 38px;
  width: 17px;
  top: 100px;
  position: absolute;
  cursor: pointer;
  z-index: 5;
  right: 0;
  background: url(../img/next_btn.png) no-repeat;
}

.special_offer .collected ul {
  position: relative;
  z-index: 1;
  width: 4000px;
}

.special_offer .collected ul li {
  overflow: hidden;
  text-align: center;
  float: left;
  width: 160px;
  height: 260px;
  margin: 5px 20px 0 20px;
}

.special_offer .collected ul li img {
  width: 160px;
  height: 192px;
}

.special_offer .collected ul li p {
  width: 160px;
  height: 44px;
  padding-top: 0;
  overflow: hidden;
  color: #555;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.special_offer .collected ul li div {
  color: #ccc;
}
